DB_DRIVER="mysqli"
DB_HOSTNAME="localhost"
DB_USERNAME="root"
DB_PASSWORD="develop123"
DB_DATABASE="approval_form_db"

MAIL_PROTOCOL="smtp"
MAIL_HOST="smtp.gmail.com"
MAIL_PORT="587"
MAIL_CRYPTO="tls"
MAIL_USERNAME="<your_email@gmail.com>"
MAIL_PASSWORD="<your_app_password>"
MAIL_FROM_EMAIL="<your_email@gmail.com>"
MAIL_FROM_NAME="Approval App"